<div class="container">
<div class="text-center app-form">
<h3 class="title"><%= @post.new_record? ? "Crear": "Editar" %> Post</h3>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2> 
         Este post no puede ser creado por lo siguiente:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@post) do |f| %>
    <%= f.label :title do %>
      Titulo:
    <% end %>
    <p><%= f.text_field :title %></p>
    <%= f.label :description do%>
      Descripción:
    <% end %>
    <p><%= f.text_area :description, cols: 50, rows: 16 %></p>
    <%= f.submit @post.new_record? ? "Publicar Post": "Editar Post", class: "btn btn-add"%>  
  <% end %>
</div>
</div>