<div class="container">
<div class="text-center app-form">
  <%= form_for(@post) do |f| %>
    <%= f.label :title do %>
      Titulo:
    <% end %>
    <p><%= f.text_field :title %></p>
    <%= f.label :description do%>
      Descripción:
    <% end %>
    <p><%= f.text_area :description, cols: 50, rows: 16 %></p>
    <%= f.submit "Crear Post!", class: "btn btn-add"%>  
  <% end %>
</div>
</div>