<div class="container">
<div class="text-center"">
  <%= link_to "Agrega tu Post", new_post_path, class: "btn btn-add"  %>
</div>
<ul>
  <% @posts.each do |post| %>
    <article>
      <div><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></div>
      <h2>
        <%= link_to post_path(post.id), class: "title" do %>
          <%= post.title %>
        <% end %>
          
      </h2>

      <p><%= post.description %></p>
      <%= link_to "Ver mas...", post_path(post.id), class: "ver"  %>
    </article>
  <% end %>
</ul>
</div>