<div class="container">
<div class="text-center"">
  <%= link_to "Agrega tu Post", new_post_path, class: "btn btn-add"  %>
</div>
<ul>
  <% @posts.each do |post| %>
    <article>
      <div><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></div>
      <h2>
        <%= link_to post_path(post.id), class: "title" do %>
          <%= post.title %>
        <% end %>
      </h2>

      <p class="time">Publicado hace <%= time_ago_in_words(post.created_at)%> por: <%= post.user.email %></p>
      <%= render :html => raw(@markdown.render(truncate(post.description, length: 250))) %> 

      <%= link_to "Ver mas...", post_path(post.id), class: "ver"  %>
      <% if user_signed_in? %>
      <% if current_user.id == post.user_id %>
        <%= form_tag(post_path(post.id), method: :delete, data: { confirm: 'Estas seguro de eliminar este Post?' }) do%>
          <%= button_tag( class: "btn icon pull-right") do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>          
        <% end %>
        <%= link_to edit_post_path(post.id), class: "btn icon pull-right" do  %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
      <% end %>

    </article>
  <% end %>
</ul>
</div>